<ion-header no-border>
  <ion-navbar hideBackButton>
      <ion-buttons start (click)="ClosePage()">
          <button ion-button style="color: #FB1C83;">
            Back
          </button>  
      </ion-buttons>
      
      <ion-title>Sub About</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>

</ion-content>
