
<ion-header>

  <ion-navbar>
    <ion-title>About</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <button ion-button rounded full (click)="GoToSubTabs()">Go to sub tabs</button>
</ion-content>
